<html>
<head><title>Welcome to Onion Soup</title></head>
<body style="background-color: #FFD685">

  <h2 style=text-align:center>Welcome to</h2>
  <table width=100% height=10%>
    <tr>
      <td style="text-align: center; vertical-align: middle;">
        <a href='/'><img src= {{ url_for('static', filename='Onion Soup.png') }} alt='Onion Soup'></img><a>
      </td>
    </tr>
  </table>
  <div style="text-align:center">
      <p><a href="/bowl/"><h3>View existing data</h3></a></p>
      <p>
        <a href="/kitchen/"><h3>Create new dataset</h3></a><p><h5>(Warning: this will erase previously existing data)</h5></p>
      </p>
  </div>




            <div style="text-align:center; bottom: 200px;">
            <p>Onion Soup is a web application designed to collect, parse and plot article information from the Elsevier ScienceDirect database.
            It is designed to analyse the characteristics of the topical scientific sources immediately available to a university student with no specific clearance or entitlement to the Elsevier database.
            This application therefore allows to observe and analyse what a typical student seeking to inform him or herself is likely to be provided via elsevier.
            For any input field of research, Onion Soup collects a selection of available articles based on the ScienceDirect search engine as well as any available reference or suggested articles.
            It returns their metadata raw as well as in a series of relevant plots and graph.</p>
            <p>Onion Soup is powered by the Elsevier ScienceDirect Search API, Selenium Webdriver, PhantomJS and BeautifulSoup.
              It assumes the public level of entitlement from a University Student and may only be used with a valid public University IP (e.g UChicago Library or another University's WiFi service)</p>
            </div>

</body>
</html>
