<html>
<head><title>Make a New Soup</title></head>
<body style="background-color: #FFD685">

<table width=100% height=10%>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <a href='/'><img src= {{ url_for('static', filename='Onion Soup.png') }} alt='Onion Soup'></img><a>
    </td>
  </tr>
</table>

        <h3 style=text-align:center>Enter Key Words and Size to create data</h3>
        <form action="" method="post">
            <p style=text-align:center><label>
                Key Words:
                <input type=text name=keyWords>
            </label></p>
            <p style=text-align:center><label>
                Number of Primary Articles:
                <select name=inputSize>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="60">60</option>
                  <option value="70">70</option>
                  <option value="80">80</option>
                  <option value="90">90</option>
                  <option value="100">100</option>
                  <option value="110">110</option>
                  <option value="120">120</option>
                  <option value="130">130</option>
                  <option value="140">140</option>
                  <option value="150">150</option>
                  <option value="160">160</option>
                  <option value="170">170</option>
                  <option value="180">180</option>
                  <option value="190">190</option>
                  <option value="200">200</option>
                </select>
            </label>
            <p style=size:5px;text-align:center>
                (Warning: a soup with 200 articles may take over an hour to cook.)
            </p>
            </p>
            <p style=text-align:center><input type=submit value="Cook It!"></p>
        </form>



</body>
</html>
